* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2563eb;
  --secondary-color: #f97316;
  --white-color: #fff;
  --title-color: #444;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 3px 5px 8px rgba(0, 0, 0, 0.5);
  --nav--bgColor: #f4f4f5;
  --success-color: #65a30d;
  --danger-color: #dc2626;
}

.container {
  max-width: 1280px;
  margin: auto;
}
