* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2563eb;
  --secondary-color: #f97316;
  --white-color: #fff;
  --title-color: #444;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 3px 5px 8px rgba(0, 0, 0, 0.5);
  --nav--bgColor: #f4f4f5;
  --success-color: #65a30d;
  --danger-color: #dc2626;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: var(--nav--bgColor);
  padding: 2.5rem 0;
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  z-index: 10;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.nav {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav h1 {
  font-size: 2.2rem;
}

.nav a:hover {
  text-decoration: underline;
}

.cart-button {
  font-size: 1.8rem;
  background-color: transparent;
  position: relative;
}

.cart-button svg {
  cursor: pointer;
}

.cart-button span {
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.3rem 0.4rem;
}

.card-buttons section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-buttons section button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
}

.header-products {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--title-color);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem 1.5rem;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

.card-header img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.card-body h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card-body span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2563eb;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.3rem;
  background-color: var(--white-color);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.btn-success {
  background-color: var(--success-color);
  color: var(--white-color);
}

.btn-danger {
  background-color: var(--danger-color);
  color: var(--white-color);
}
